html {
    height: 100%;
}

body {
    font-family: Calibri, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    position: absolute;
    padding: 0;
    z-index: -1;
}

.dontainer {
    position: absolute;
    padding: 8px;
}

h3 {
    margin: 1em 0 0 0;
}

hr {
    margin: 0 0 0.5em 0;
}

footer {
    position: absolute;
    bottom: 0;
}

#timeAway {
    margin: auto;
    padding: 0.5em;
    height: 50%;
    width: 50%;
    top: 50%;
    border: 0.1em solid black;
    border-radius: 0.5em;
}